<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bot.box.appusage">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <receiver android:name=".UsageWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/usage_widget_info" />
        </receiver>

        <provider
            android:name=".provider.AppUsageProvider"
            android:authorities="${applicationId}.AppUsageProvider" />
    </application>

</manifest>